# --- Framework Web y UI ---
streamlit
extra-streamlit-components
streamlit-option-menu
streamlit-js-eval

# --- Nueva API y Servidor ---
fastapi
uvicorn

# --- Base de Datos y Procesamiento ---
oracledb
pandas

# --- Excel y Hojas de Cálculo ---
# (Se mantienen mientras haces la transición a Oracle)
openpyxl
xlrd==2.0.1
st-gsheets-connection
gspread

# --- Extracción Web y HTML ---
beautifulsoup4
lxml
html5lib

# --- Visualización ---
plotly
matplotlib

# --- Manejo de PDFs ---
fpdf2
pdfplumber
pymupdf
