# --- Framework Web y UI ---
streamlit
extra-streamlit-components
streamlit-option-menu
streamlit-aggrid>=0.3.4,<1.0

# --- Base de Datos y Procesamiento ---
pandas
toml

# --- Excel y Hojas de Cálculo ---
openpyxl
xlrd==2.0.1
st-gsheets-connection
gspread
google-cloud-storage

# --- Extracción Web y HTML ---
beautifulsoup4
lxml
html5lib

# --- Visualización ---
plotly
matplotlib

# --- Manejo de PDFs ---
fpdf2
pdfplumber
python-docx

#--guardado de imagenes--
requests

pillow
pytesseract
